{if $user_data.login}
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<ul data-slide-speed="200" data-auto-scroll="false" data-keep-expanded="false" class="page-sidebar-menu ">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<li class="sidebar-toggler-wrapper" style="margin-bottom:15px">

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
				</li>
				<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
				<!--<li class="sidebar-search-wrapper">
					<form method="POST" action="extra_search.html" class="sidebar-search ">
						<a class="remove" href="javascript:;">
						<i class="icon-close"></i>
						</a>
						<div class="input-group">
							<input type="text" placeholder="Buscar..." class="form-control">
							<span class="input-group-btn">
							<a class="btn submit" href="javascript:;"><i class="icon-magnifier"></i></a>
							</span>
						</div>
					</form>

				</li>-->
				<li class="heading">
            <h3 class="uppercase">Menú general</h3>
        </li>
				<li class="{if $page eq 'inicio'}active{/if}">
					<a href="{$config.route}inicio">
						<i class="icon-home"></i>
						<span class="title">Inicio</span>
					</a>
				</li>
				<li class="heading">
            <h3 class="uppercase">Datos fiscales</h3>
        </li>
				<li {if $page eq 'cuentas'} class="active"{/if}>
					<a href="{$config.route}cuentas"><i class="icon-credit-card"></i>
						<span class="title">Situación de cuentas</span>
					</a>
				</li>
				<li {if $page eq 'extracto'} class="active"{/if}>
					<a href="{$config.route}extracto">
						<i class="icon-grid"></i>
							<span class="title">Extracto de movimientos</span>
					</a>
				</li>
				<!--<li {if $page eq 'retenciones'}class="active"{/if}>
					<a href="{$config.route}retenciones">
						<i class="icon-bag"></i>
						<span class="title">Cobros y retenciones</span>
					</a>
				</li>-->
				<li class="heading">
						<h3 class="uppercase">Facturación</h3>
				</li>
				<li class="{if $page eq 'facturasCom'}active{/if}">
					<a href="{$config.route}facturasCom">
						<i class="icon-wallet"></i>
						<span class="title">Facturas - Liquidación</span>
					</a>
				</li>
				<li class="{if $page eq 'albaranesCom'}active{/if}">
					<a href="{$config.route}albaranesCom">
						<i class="icon-grid"></i>
						<span class="title">Albaranes de entrega</span>
					</a>
				</li>
				<li class="heading">
						<h3 class="uppercase">SUMINISTROS</h3>
				</li>
				<li {if $page eq 'facVtaSum'} class="active"{/if}>
					<a href="{$config.route}facVtaSum">
						<i class="icon-wallet"></i>
						<span class="title">Facturas</span>
					</a>
				</li>
				<li {if $page eq 'facturasOPFH'}class="active"{/if}>
					<a href="{$config.route}facturasOPFH">
						<i class="icon-bag"></i>
						<span class="title">Facturas OPFH</span>
					</a>
				</li>
				<li class="heading">
						<h3 class="uppercase">CAMPO</h3>
				</li>
                <li class="{if $page eq 'cultivos'}active{/if}">
					<a href="{$config.route}cultivos">
						<i class="fa fa-leaf"></i>
						<span class="title">Cultivos</span>
					</a>
				</li>
				<li class="{if $page eq 'entradas'}active{/if}">
					<a href="{$config.route}entradas">
						<i class="icon-bar-chart"></i>
						<span class="title">Partidas</span>
					</a>
				</li>
				<li class="{if $page eq 'estadisticaArt'}active{/if}">
					<a href="{$config.route}estadisticaArt">
						<i class="icon-pie-chart"></i>
						<span class="title">Estadística de artículos</span>
					</a>
				</li>
				<!--<li class="heading">
						<h3 class="uppercase">RETORNABLES</h3>
				</li>
				<li {if $page eq 'retornables'}class="active"{/if}>
					<a href="{$config.route}retornables"><i class="icon-calendar"></i>
						<span class="title">Movimientos</span>
					</a>
				</li>
				<li {if $page eq 'retornablesStock'}class="active"{/if}>
					<a href="{$config.route}retornablesStock"><i class="icon-list"></i>
						<span class="title">Stock</span>
					</a>
				</li>-->
				
				
				<li class="heading">
						<h3 class="uppercase">DOCUMENTOS</h3>
				</li>
                <li class="{if $page eq 'fichaCultivos'}active{/if}">
					<a href="{$config.route}fichaCultivos">
						<i class="fa fa-leaf"></i>
						<span class="title">Fichas cultivos</span>
					</a>
				</li>

				<li class="{if $page eq 'fichasSeguridad'}active{/if}">
					<a href="{$config.route}fichasSeguridad">
						<i class="fa fa-leaf"></i>
						<span class="title">Fichas Seguridad</span>
					</a>
				</li>
				<li class="heading">
						<h3 class="uppercase"></h3>
				</li>
				<li>
					<a href="{$config.route}exit">
						<i class="icon-logout"></i>
						<span class="title">Salir</span>
					</a>
				</li>
		</ul>

	</div>
</div>
{/if}
