<link href="{$config.assets}global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link type="text/css" rel="stylesheet" href="{$config.assets}admin/pages/css/profile-old.css">

<style>
.table { font-size: 12px }
tr.cabecera { background-color: #F2F2F2; }
</style>

<div class = "page-content-wrapper">
	<div class="page-content" style="min-height:441px">
		<h3 class="page-title" style="text-align:left;float:left;">
			Albarán {$data_vars.dataPage.alb_com_nro_ser} <small>detalle</small>
		</h3>
		<h2 style="margin-top:10px; text-align:right;float:right;">{$data_vars.dataPage.alb_sit}</h2>
		<hr style="clear:both;"/>
		<div class="tab-pane active" id="tab_1_1">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-8 profile-info">
												<h1 style="margin-bottom:10px;">Referencia: {$data_vars.dataPage.alb_ref} </h1>
												<ul class="list-inline">
													<li>
														<i class="fa fa-map-marker"></i> <b>Centro: </b>{$data_vars.dataPage.ctrName}
													</li>
													<li>
														<i class="fa fa-calendar"></i> <b>Fecha: </b>{$data_vars.dataPage.fch}
													</li>
													<li>
														<i class="fa fa-home"></i> <b>Finca: </b>{$data_vars.dataPage.ctrpnf}
													</li>
													<li>
														<i class="fa fa-file"></i> <b>Factura: </b><a href="facturaCom?id={$data_vars.dataPage.fac_com}">{$data_vars.dataPage.fac_com_nro_ser}</a>
													</li>
												</ul>
												<a href="javascript:history.back()" class="btn btn-circle green-haze btn-sm"><i class="fa fa-arrow-left"></i> Volver atrás</a>
                                                <script LANGUAGE="JavaScript">
                                                if (window.print) {
                                                document.write('<a href="javascript:window.print()" class="btn btn-circle blue btn-sm" ><i class="fa fa-print"></i> Imprimir</a>');
                                                }
                                                </script>
											</div>
											<!--end col-md-8-->
											<div class="col-md-4">
												<div class="portlet sale-summary">
													<div class="portlet-title">
														<div class="caption">
															 Totales
														</div>
													</div>
													<div class="portlet-body">
														{assign var="kg_tot" value=0}
														{assign var="imp_tot" value=0}
														{foreach from=$data_vars.dataPage.data item=curr_id}
															{assign var="kg_tot" value=$kg_tot+$curr_id['cnt_fac']}
															{assign var="imp_tot" value=$imp_tot+$curr_id['implin']}
														{/foreach}

														<ul class="list-unstyled">
															<!--<li>
																<span class="sale-info">
																CAJAS <i class="fa fa-img-up"></i>
																</span>
																<span class="sale-num">
																{$data_vars.dataPage.alb_nro_blt|number_format:0:",":"."} </span>
															</li>-->
															<li>
																<span class="sale-info">
																KILOS <i class="fa fa-img-up"></i>
																</span>
																<span class="sale-num">
																{$kg_tot|number_format:0:",":"."} KG</span>
															</li>
															<!--<li>
																<span class="sale-info">
																PESO BRUTO <i class="fa fa-img-down"></i>
																</span>
																<span class="sale-num">
																{$data_vars.dataPage.alb_pso_brt_real|number_format:0:",":"."} KG</span>
															</li>-->
															<li>
																<span class="sale-info">
																TOTAL IMPORTE </span>
																<span class="sale-num">
																{$imp_tot|number_format:2:",":"."} € </span>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!--end col-md-4-->
										</div>
										<!--end row-->
										<div class="tabbable-line tabbable-custom-profile">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_11" data-toggle="tab">
													Partidas </a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_11">
													<div class="portlet-body">
														<div class="col-md-12">
														<table class="table table-bordered table-advance table-hover">
														<thead>
														<tr>
															<th>
																<i class="fa fa-reorder"></i> Partida
															</th>
															<th>
																<i class="fa fa-reorder"></i> Artículo
															</th>
															<th>
																<i class="fa fa-reorder"></i> Cajas
															</th>
															<th>
																<i class="fa fa-reorder"></i> Kilos
															</th>
															<th style="border-right: 1px solid #ddd">
																<i class="fa fa-calculator"></i> Porcentaje
															</th>
															<th>
																<i class="fa fa-bookmark"></i> Precio
															</th>
															<th>
																<i class="fa fa-bookmark"></i> Importe
															</th>
														</tr>
														</thead>
														<tbody>
											
														{assign var="partida_anterior" value=""}
														{assign var="kg_partida" value=0}
														{assign var="imp_partida" value=0}
														{assign var="obs2" value=$curr_id['obs_2']}
														{foreach from=$data_vars.dataPage.data item=curr_id}
															
															{assign var="partida" value=$curr_id['partida']}
															{if $partida != $partida_anterior}
																			{if $partida_anterior != null}
																	{if $obs2|count_characters>1}
																	<tr class="cabecera">
																		<td></td>
																		<td style="background-color:#F2DEDE; color:#A94442;">
																			<div align="right">{$obs2}</div>
																		</td>
																		<td colspan=5></td>
																	</tr>

																	</tr>
																	{/if}
																	<tr class="cabecera">
																		<td colspan=2 style="background-color:#3a9c95; color:white; border-right-color: #3a9c95">
																			<b>TOTAL PARTIDA</b>
																		</td>
																		<td style="background-color:#3a9c95; color:white; border-right-color: #3a9c95;">
																			<div align="right">{$curr_id['cja_nro']|number_format:0:",":"."}</div>
																		</td>
																		<td align="right" style="background-color:#3a9c95; color:white; border-left-color: #3a9c95">
																			<b>{$kg_partida|number_format:0:",":"."} KG</b>
																		</td>
																			
																		<td colspan=3 align="right" style="background-color:#008275; color:white; border-left-color: #008275">
                                                                            <b>{$imp_partida|number_format:2:",":"."} €</b>
																		</td>

																	</tr>

																{/if}
																{assign var="kg_partida" value=0}
																{assign var="imp_partida" value=0}

															<tr class="cabecera">
																<td>
																	<b><a href="{$config.route}partida?id={$curr_id['partida_id']}">{$curr_id['partida']}</a></b>
																</td>
																<td>
																	{$curr_id['name']}
																</td>
																<td>
																	
																</td>
																<td>
																	
																</td>
																{if $curr_id['ptd_est']=="C" || $curr_id['ptd_est']=="0"}
																	<td>
																		Sin muestrear
																	</td>
																	<td align="right">
																		 {$curr_id['pre_fin']|number_format:2:",":"."}€
																	</td>
																	<td align="right">
																		 {$curr_id['implin']|number_format:2:",":"."}€
																	</td>
																{else}
																	<td colspan=3></td>
																{/if}
															</tr>
															{/if}
															{assign var="kg_partida" value=$kg_partida+$curr_id['cnt_fac']}
															{assign var="imp_partida" value=$imp_partida+$curr_id['implin']}
															{assign var="obs2" value=$curr_id['obs_2']}
															{if $curr_id['ptd_est']!="C" && $curr_id['ptd_est']!="0"}
															<tr>
																<td></td>
																<td>{$curr_id['tarcalpso']}</td>
																<td></td>
																<td>
																	<div align="right">{$curr_id['cnt_fac']|number_format:0:",":"."}</div>
																</td>
																<td align="right" style="border-right: 1px solid #ddd">
																		{((($curr_id['cnt_fac'])*100)/({$curr_id['kg_ptd']}))|number_format:1:",":"."}%
																</td>
																<td align="right">
																	 {$curr_id['pre_fin']|number_format:2:",":"."}€
																</td>
																<td align="right">
																	 {$curr_id['implin']|number_format:2:",":"."}€
																</td>
															</tr>
															{/if}
															{assign var="partida_anterior" value=$curr_id['partida']}
														{/foreach}
														
														{if $obs2|count_characters>1}
														<tr class="cabecera">
															<td></td>
															<td style="background-color:#F2DEDE; color:#A94442;">
																<div align="right">{$obs2}</div>
															</td>
															<td colspan=5></td>
														</tr>

														</tr>
														{/if}
														<tr class="cabecera">
															<td colspan=2 style="background-color:#3a9c95; color:white; border-right-color: #3a9c95">
																<b>TOTAL PARTIDA</b>
															</td>
															<td style="background-color:#3a9c95; color:white; border-right-color: #3a9c95;">
																<div align="right">{$curr_id['blt_med']|number_format:0:",":"."}</div>
															</td>
															<td align="right" style="background-color:#3a9c95; color:white; border-left-color: #3a9c95">
																<b>{$kg_partida|number_format:0:",":"."} KG</b>
															</td>
															<td colspan=3 align="right" style="background-color:#008275; color:white; border-left-color: #008275">
																<b>{$imp_partida|number_format:2:",":"."} €</b>
															</td>
														</tr>

														</tbody>
														</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
	</div>
</div>

<script type="text/javascript">
var chart_cake = AmCharts.makeChart( "chartdiv_cake", {
  "type": "pie",
  "theme": "light",
  "dataProvider": [
		{foreach from=$data_vars.dataPage.data item=curr_id}
			{
		    "country": "{$curr_id['tarcalpso']}",
		    "litres": {((($curr_id['cnt_fac'])*100)/($data_vars.dataPage.psoNet))|round:2}
			},
		{/foreach}
	],
  "valueField": "litres",
  "titleField": "country",
  "export": {
    "enabled": true
  }
} );
</script>
