<!-- BEGIN CONTENT -->
<style>
.table { font-size: 12px; page-break-inside:avoid}
.cabecera { background-color: #F2F2F2; font-weight:bold}
</style>

<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
    {$current.title} <small>{$current.sub_title}</small>
    </h3>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Atención.</strong> La estadística se calcula en base a las partidas ya facturadas.
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="table-responsive">
		{if $data_vars.est|count > 0}
			  <table class="table table-hover">
                <thead class=cabecera>
					<tr style="background-color: #BFCAD1; color: #666">
						<td rowspan="2" style="border-right: 1px solid #dddddd; vertical-align:middle;" align="center">Producto</th>
						<td colspan="3" align="center" style="border-right: 1px solid #dddddd;">Campaña actual</td>
						<!--<td colspan="3" align="center">Campaña anterior</td>-->

					</tr>
					<tr style="background-color: #95A5A6; color: white">

						<td align="center">Kilos</td>
						<td align="center">Importe</td>
						<td align="center" style="border-right: 1px solid #dddddd;">Precio medio</td>
						<!--<td align="center">Kilos</td>
						<td align="center">Importe</td>
						<td align="center">Precio medio</td>-->

					</tr>
                </thead>
                <tbody>
                {assign var=tot_kg_ant value=0}
				{assign var=tot_imp_ant value=0}
				{assign var=tot_pre_med_ant value=0}
				{assign var=tot_kg_act value=0}
				{assign var=tot_imp_act value=0}
				{assign var=tot_pre_med_act value=0}
                {foreach from=$data_vars.est item=estad}
                  <tr>
                    <td style="border-left: 1px solid #dddddd; border-right: 1px solid #dddddd;"><b>{$estad.articulo}</b></td>
										<td align="right">{$estad.kg_act|number_format:0:",":"."} Kg.</td>
										<td align="right">{$estad.imp_act|number_format:0:",":"."} €</td>
										<td align="right" style="border-right: 1px solid #dddddd;"><b>{$estad.pre_med_act|number_format:2:",":"."} €</b></td>
										<!--<td align="right">{$estad.kg_ant|number_format:0:",":"."} Kg.</td>
										<td align="right">{$estad.imp_ant|number_format:0:",":"."} €</td>
										<td align="right" style="border-right: 1px solid #dddddd;"><b>{$estad.pre_med_ant|number_format:2:",":"."} €</b></td>-->

                  </tr>
                  {assign var="tot_kg_ant" value=($tot_kg_ant + $estad.kg_ant)}
				  {assign var="tot_imp_ant" value=($tot_imp_ant + $estad.imp_ant)}
				  {assign var="tot_pre_med_ant" value=($tot_pre_med_ant + $estad.pre_med_ant)}
				  {assign var="tot_kg_act" value=($tot_kg_act + $estad.kg_act)}
				  {assign var="tot_imp_act" value=($tot_imp_act + $estad.imp_act)}
				  {assign var="tot_pre_med_act" value=($tot_pre_med_act + $estad.pre_med_act)}
                {/foreach}
                </tbody>
                <tfoot class=cabecera style="background-color: #ecbb5d; color: #483818">
                  <td style="border-right: 1px solid #dddddd;"><b>Total</b></td>
									<td align="right">{$tot_kg_act|number_format:0:",":"."} Kg.</td>
								  <td align="right">{$tot_imp_act|number_format:0:",":"."} €</td>
								  <td align="right" style="border-right: 1px solid #dddddd;"><b></b></td>
									<!--<td align="right">{$tot_kg_ant|number_format:0:",":"."} Kg.</td>
									<td align="right">{$tot_imp_ant|number_format:0:",":"."} €</td>
									<td align="right"><b></b></td>-->

                </tfoot>
              </table>
		{else}
			No se han encontrado registros para mostrar
		{/if}
	</div>
	</div>
</div>
    <!-- END PAGE CONTENT-->
  </div>
</div>
<!-- END CONTENT -->


<script type="text/javascript" src="{$config.assets}global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">


</script>
