<link href="{$config.assets}global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link type="text/css" rel="stylesheet" href="{$config.assets}admin/pages/css/profile-old.css">
<style>
.table { font-size: 12px }
tr.cabecera { background-color: #F2F2F2; }
</style>

<div class = "page-content-wrapper">
	<div class="page-content" style="min-height:441px">
		<h3 class="page-title" style="text-align:left;float:left;">
			Factura OPFH: {$data_vars.dataPage.fac_opf_id}
		</h3>
		<h2 style="margin-top:10px; text-align:right;float:right;">{$data_vars.dataPage.est_fac_opf}</h2>
		<hr style="clear:both;"/>
		<div class="tab-pane active" id="tab_1_1">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-8 profile-info">
												<h1 style="margin-bottom:10px;">Referencia: {$data_vars.dataPage.ref} </h1>
												<ul class="list-inline">
													<li>
														<i class="fa fa-calendar"></i> <b>Fecha: </b>{$data_vars.dataPage.ref}
													</li>
													<li>
														<i class="fa fa-map-marker"></i> <b>Plan operativo: </b>{$data_vars.dataPage.plo_opf_name}
													</li>
													<li>
														<i class="fa fa-map-marker"></i> <b>Ejercicio: </b>{$data_vars.dataPage.eje_ges}
													</li>
												</ul>
												<a href="javascript:history.back()" class="btn btn-circle green-haze btn-sm"><i class="fa fa-arrow-left"></i> Volver atrás</a>
                                                <script LANGUAGE="JavaScript">
                                                if (window.print) {
                                                document.write('<a href="javascript:window.print()" class="btn btn-circle blue btn-sm" ><i class="fa fa-print"></i> Imprimir</a>');
                                                }
                                                </script>
											</div>
											<!--end col-md-8-->
											<!--end col-md-4-->
										</div>
										<!--end row-->
										<div class="tabbable-line tabbable-custom-profile">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_11" data-toggle="tab">
													Detalle </a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_11">
													<div class="portlet-body">
														<div class="col-md-12">
														<table class="table table-bordered table-advance table-hover">
														<thead>
														<tr>
															<th>
																<i class="fa fa-reorder"></i> Referencia
															</th>
															<th>
																<i class="fa fa-reorder"></i> Finca
															</th>
															<th>
																<i class="fa fa-reorder"></i> Inversión solicitada
															</th>
															<th>
																 <div align="right"><i class="fa fa-reorder"></i> Cantidad</div>
															</th>
															<th>
																 <div align="right"><i class="fa fa-calculator"></i> Precio</div>
															</th>
															<th>
																 <div align="right"><i class="fa fa-bookmark"></i> Importe</div>
															</th>
														</tr>
														</thead>
														<tbody>
															{foreach from=$data_vars.dataPage.data item=curr_id}
															<tr>
																<td>{$curr_id['inv_sol_opf_nro_ser']}</td>
																<td>{$curr_id['fac_lin_opf_name']}</td>
																<td>{$curr_id['inv_sol_opf_name']}</td>
																<td><div align="right">{$curr_id['cnt']|number_format:2:",":"."}</div></td>
																<td><div align="right">{$curr_id['prc']|number_format:2:",":"."}</div></td>
																<td><div align="right">{$curr_id['imp']|number_format:2:",":"."}</div></td>
															</tr>
															{/foreach}
														</tbody>
														</table>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- Comienzo de los totales-->
										<div class="tabbable-line tabbable-custom-profile">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_11" data-toggle="tab">
													Totales de la factura </a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_11">
													<div class="portlet-body">
														<div class="col-md-12">
														<table class="table table-bordered table-advance table-hover">
														<thead>
														<tr>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> Importe</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> % IVA</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> Cuota IVA</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> IRPF</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> Total</div>
															</th>
														</tr>
														</thead>
														<tbody>
															<tr>
																<td><div align="right">{$data_vars.dataPage.fac_opf_imp|number_format:2:",":"."}</td>
																<td><div align="right">{$data_vars.dataPage.fac_opf_por_iva|number_format:2:",":"."}</td>
																<td><div align="right">{$data_vars.dataPage.fac_opf_iva|number_format:2:",":"."}</td>
																<td><div align="right">{$data_vars.dataPage.fac_opf_irpf|number_format:2:",":"."}</td>
																<td><div align="right"><strong>{$data_vars.dataPage.fac_opf_tot|number_format:2:",":"."}</strong></td>
															</tr>
														</tbody>
														</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Fin de los totales -->
									</div>
								</div>

							</div>
	</div>
</div>



<script type="text/javascript">
var chart_cake = AmCharts.makeChart( "chartdiv_cake", {
  "type": "pie",
  "theme": "light",
  "dataProvider": [
		{foreach from=$data_vars.dataPage.data item=curr_id}
			{
		    "country": "{$curr_id['tarcalpso']}",
		    "litres": {((($curr_id['cnt_fac'])*100)/($data_vars.dataPage.psoNet))|round:2}
			},
		{/foreach}
	],
  "valueField": "litres",
  "titleField": "country",
  "export": {
    "enabled": true
  }
} );
</script>
