<link href="{$config.assets}global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link type="text/css" rel="stylesheet" href="{$config.assets}admin/pages/css/profile-old.css">
<style>
.table { font-size: 12px }
tr.cabecera { background-color: #F2F2F2; }
</style>

<div class = "page-content-wrapper">
	<div class="page-content" style="min-height:441px">
		<h3 class="page-title" style="text-align:left;float:left;">
			Factura de compra {$data_vars.dataPage.fac_com_nro_ser}
            
		</h3>
		<h2 style="margin-top:10px; text-align:right;float:right;">{$data_vars.dataPage.fac_sit}</h2>
		<hr style="clear:both;"/>
		<div class="tab-pane active" id="tab_1_1">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-8 profile-info">
												<h1 style="margin-bottom:10px;">Referencia: {$data_vars.dataPage.ref} </h1>
												<ul class="list-inline">
													<li>
														<i class="fa fa-map-marker"></i> <b>Centro: </b>{$data_vars.dataPage.ctrName}
													</li>
													<li>
														<i class="fa fa-calendar"></i> <b>Fecha: </b>{$data_vars.dataPage.fch}
													</li>													
												</ul>
												<a href="javascript:history.back()" class="btn btn-circle green-haze btn-sm"><i class="fa fa-arrow-left"></i> Volver atrás</a>
                                                {if $data_vars.dataPage.public|number_format:0 > 0}
                                                    <a href="{$data_vars.dataPage.URL}" target="_blank" class="btn btn-circle blue btn-sm" style="color:#FFF"><i class="fa fa-file-pdf-o"></i> Descarga</a>
                                                {else}
                                                    <a href="#" class="btn btn-circle btn-sm" style="background-color:#DDD; color:#666"><i class="fa fa-check icon-info"></i> Descarga no disponible</a>
                                                {/if}
												<script LANGUAGE="JavaScript">
                                                if (window.print) {
                                                document.write('<a href="javascript:window.print()" class="btn btn-circle blue btn-sm" ><i class="fa fa-print"></i> Imprimir</a>');
                                                }
                                                </script>

											</div>
											<!--end col-md-8-->
											<!--end col-md-4-->
										</div>
										<!--end row-->
										<div class="tabbable-line tabbable-custom-profile">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_11" data-toggle="tab">
													Detalle </a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_11">
													<div class="portlet-body">
														<div class="col-md-12">
														<table class="table table-bordered table-advance table-hover">
														<thead>
														<tr>
															<th>
																<i class="fa fa-reorder"></i> Albarán
															</th>
															<th>
																<i class="fa fa-reorder"></i> Artículo
															</th>
															<th>
																<i class="fa fa-reorder"></i> Clasificación
															</th>
															<th>
																<i class="fa fa-reorder"></i> Cantidad
															</th>
															<th>
																<i class="fa fa-calculator"></i> Precio
															</th>
															<th>
																<i class="fa fa-bookmark"></i> Importe
															</th>
														</tr>
														</thead>
														<tbody>

														{function name=total_albaran}
															<tr class="cabecera">
																<td colspan=2>&nbsp;</td>
																<td><strong>TOTAL ALBARÁN</strong></td>
																<td><div align="right"><strong>{$variables[0]|number_format:0:",":"."}</div></td>
																<td>&nbsp;</td>
																<td><div align="right"><strong>{$variables[1]|number_format:2:",":"."}</strong></div></td>
															</tr>
														{/function}

														{assign var="albaran_anterior" value=""}

														{assign var="num_reg" value=1}
														{foreach from=$data_vars.dataPage.data item=curr_id}
															{assign var="albaran" value=$curr_id['alb_com']}

															{if ($albaran != $albaran_anterior)}
																{if $num_reg!=1 }
																	{$variables = [$pso_net_tot, $alb_com_imp]}
																	{total_albaran $variables}
																{/if}

																<tr class="cabecera">
																	<td>
																		<a href="albaranCom?id={$curr_id['alb_com_id']}">{$curr_id['alb_com_nro_ser']}</a>
																	</td>
																	<td colspan=5>
																		TOTAL BULTOS: {$curr_id['alb_com_nro_blt']}
																	</td>
																</tr>
																{assign var="pso_net_tot" value=0}
															{/if}
																<tr>
																	<td>&nbsp;</td>
																	<td>{$curr_id['name']}</td>
																	<td>{$curr_id['cal_nom']}</td>
																	<td>
																		<div align="right">{$curr_id['cnt_fac']|number_format:0:",":"."}</div>
																	</td>
																	<td>
																		<div align="right">{$curr_id['pre_fin']|number_format:2:",":"."}</div>
																	</td>
																	<td align="right">
																		<div align="right">{$curr_id['importeautofactura']|number_format:2:",":"."}</div>
																	</td>
																</tr>

															{assign var="alb_com_imp" value=$curr_id['alb_com_imp']}
															{assign var="pso_net_tot" value=($pso_net_tot + $curr_id['cnt_fac'])}

															{assign var="albaran_anterior" value=$curr_id['alb_com']}
															{assign var="partida_anterior" value=$curr_id['ptd_alm']}

															{if $num_reg==$data_vars.dataPage.num_reg}
																{$variables = [$pso_net_tot, $alb_com_imp]}
																{total_albaran $variables}
															{/if}

															{$num_reg = $num_reg +1}

														{/foreach}
														</tbody>
														</table>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- Comienzo de los totales-->
										<div class="tabbable-line tabbable-custom-profile">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_11" data-toggle="tab">
													Totales de la factura </a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_11">
													<div class="portlet-body">
														<div class="col-md-12">
														<table class="table table-bordered table-advance table-hover">
														<thead>
														<tr>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> Importe</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> Descuento</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> Base imponible</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> Tributos</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> Total factura</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> Retenciones</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-reorder"></i> OPFH</div>
															</th>
															<th>
																<div align="right"><i class="fa fa-bookmark"></i> <strong>Total a pagar</strong></div>
															</th>
														</tr>
														</thead>
														<tbody>
															<td><div align="right">{$data_vars.dataPage.fac_com_imp|number_format:2:",":"."}</td>
															<td><div align="right">{$data_vars.dataPage.fac_com_gst_dto|number_format:2:",":"."}</td>
															<td><div align="right">{$data_vars.dataPage.fac_com_bas|number_format:2:",":"."}</td>
															<td><div align="right">{$data_vars.dataPage.fac_com_tri_tot|number_format:2:",":"."}</td>
															<td><div align="right">{$data_vars.dataPage.fac_com_tot_fac|number_format:2:",":"."}</td>
															<td><div align="right">{$data_vars.dataPage.fac_com_ret_tot|number_format:2:",":"."}</td>
															<td><div align="right">{$data_vars.dataPage.fac_com_opf_imp|number_format:2:",":"."}</td>
															<td><div align="right"><strong>{$data_vars.dataPage.fac_com_imp_pdt|number_format:2:",":"."}</strong></td>
														</tbody>
														</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Fin de los totales -->
									</div>
								</div>

							</div>
	</div>
</div>



<script type="text/javascript">
var chart_cake = AmCharts.makeChart( "chartdiv_cake", {
  "type": "pie",
  "theme": "light",
  "dataProvider": [
		{foreach from=$data_vars.dataPage.data item=curr_id}
			{
		    "country": "{$curr_id['tarcalpso']}",
		    "litres": {((($curr_id['cnt_fac'])*100)/($data_vars.dataPage.psoNet))|round:0}
			},
		{/foreach}
	],
  "valueField": "litres",
  "titleField": "country",
  "export": {
    "enabled": true
  }
} );
</script>
