<link href="{$config.assets}global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link type="text/css" rel="stylesheet" href="{$config.assets}admin/pages/css/profile-old.css">

<style>
.table { font-size: 12px }
</style>

<div class = "page-content-wrapper">
	<div class="page-content" style="min-height:441px">
		<h3 class="page-title" style="text-align:left;float:left;">
			Factura {$data_vars.dataPage.fac_vta}
		</h3>
		<h2 style="margin-top:10px; text-align:right;float:right;">{$data_vars.dataPage.fac_sit}</h2>
		<hr style="clear:both;"/>
		<div class="tab-pane active" id="tab_1_1">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-8 profile-info">
												<h1 style="margin-bottom:10px;">Referencia: {$data_vars.dataPage.ref} </h1>
												<ul class="list-inline">
													<li>
														<i class="fa fa-map-marker"></i> <b>Centro: </b>{$data_vars.dataPage.ctr_org}
													</li>
													<li>
														<i class="fa fa-calendar"></i> <b>Fecha: </b>{$data_vars.dataPage.fac_fch}
													</li>
													<li>
														<i class="fa fa-home"></i> <b>Finca: </b>{$data_vars.dataPage.ctr_dst}
													</li>
												</ul>
												<a href="javascript:history.back()" class="btn btn-circle green-haze btn-sm"><i class="fa fa-arrow-left"></i> Volver atrás</a>
                                                 {if $data_vars.dataPage.public|number_format:0 > 0}
                                                    <a href="{$data_vars.dataPage.URL}" target="_blank" class="btn btn-circle blue btn-sm" style="color:#FFF"><i class="fa fa-file-pdf-o"></i> Descargar</a>
                                                {else}
                                                    <a href="#" class="btn btn-circle btn-sm" style="background-color:#DDD; color:#666"><i class="fa fa-check icon-info"></i> Descarga no disponible</a>
                                                {/if}
												<script LANGUAGE="JavaScript">
                                                if (window.print) {
                                                document.write('<a href="javascript:window.print()" class="btn btn-circle blue btn-sm" ><i class="fa fa-print"></i> Imprimir</a>');
                                                }
                                                </script>
											</div>
											<!--end col-md-8-->

										</div>
										<!--end row-->
										<div class="tabbable-line tabbable-custom-profile">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_11" data-toggle="tab">
													Líneas de detalle </a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_11">
													<div class="portlet-body">
														<div class="col-md-12">
														<table class="table table-striped table-bordered table-advance table-hover">
														<thead>
														<tr>
															<th>
																<i class="fa fa-reorder"></i> Albarán
															</th>
															<th>
																<i class="fa fa-reorder"></i> Fecha
															</th>
															<th>
																<i class="fa fa-calculator"></i> Artículo
															</th>
															<th>
																<div align=right><i class="fa fa-bookmark"></i> Unidades</div>
															</th>
															<th>
																<div align=right><i class="fa fa-bookmark"></i> Precio</div>
															</th>
															<th>
																<div align=right><i class="fa fa-bookmark"></i> Importe</div>
															</th>
															<th>
																<div align=right><i class="fa fa-bookmark"></i> % Tributo</div>
															</th>
															<th>
																<div align=right><i class="fa fa-bookmark"></i> Importe tributo</div>
															</th>
														</tr>
														</thead>
														<tbody>
															{foreach from=$data_vars.dataPage.data item=curr_id}
															<tr>
																<td>
																	{$curr_id['alb']}
																</td>
																<td>
																	{$curr_id['fch']|date_format:"%m/%d/%Y"}
																</td>
																<td>
																	{$curr_id['name']}
																</td>
																<td>
																	<div align=right>{$curr_id['cnt_fac']|number_format:2:",":"."}</div>
																</td>
																<td>
																	<div align=right>{$curr_id['pre_fin']} €/{$curr_id['pre_tip']}</div>
																</td>
																<td>
																	<div align=right>{$curr_id['imp']|number_format:2:",":"."} €</div>
																</td>
																<td>
																	<div align=right>{$curr_id['tri_por']|number_format:2:",":"."} %</div>
																</td>
																<td>
																	<div align=right>{$curr_id['tri_imp']|number_format:2:",":"."} €</div>
																</td>
															</tr>
															{/foreach}
															<tr>
																<td colspan=6>
																	<div align=right>{$data_vars.dataPage.imp_lin|number_format:2:",":"."} €</div>
																</td>
																<td colspan=2>
																	<div align=right>{$data_vars.dataPage.tri_tot|number_format:2:",":"."} €</div>
																</td>
															</tr>
														</tbody>
														</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

			<!-- Totales -->
			<div class="tab-pane active" id="tab_1_1">
					<div class="row">
						<div class="col-md-12">
							<div class="tabbable-line tabbable-custom-profile">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#tab_1_11" data-toggle="tab">
										Importes totales </a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab_1_11">
										<div class="portlet-body">
											<div class="col-md-12">
											<table class="table table-striped table-bordered table-advance table-hover">
											<thead>
											<tr>
												<th>
													<div align=right><i class="fa fa-bookmark"></i> Descuentos</div>
												</th>
												<th>
													<div align=right><i class="fa fa-bookmark"></i> Base</div>
												</th>
												<th>
													<div align=right><i class="fa fa-bookmark"></i> Tributos</div>
												</th>
												<th>
													<div align=right><strong><i class="fa fa-bookmark"></i> Total factura</strong></div>
												</th>
											</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<div align=right>{$data_vars.dataPage.gst_dto|number_format:2:",":"."} €</div>
													</td>
													<td>
														<div align=right>{$data_vars.dataPage.bas|number_format:2:",":"."} €</div>
													</td>
													<td>
														<div align=right>{$data_vars.dataPage.tri_tot|number_format:2:",":"."} €</div>
													</td>
													<td>
														<div align=right><strong>{$data_vars.dataPage.tot_fac|number_format:2:",":"."} €</strong></div>
													</td>
												</tr>
											</tbody>
											</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Fin totales -->
	</div>
</div>
