

<div class = "page-content-wrapper">
	<div class="page-content" style="min-height:441px">
<h3 class="page-title" id='titulopag'>
	Acceso rápido <small>(pulsar para acceder)</small>
</h3>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <a style='padding-left:2px;padding-right:2px;min-height: 68px;padding-top:20px; margin-bottom: 10px;' href="{$config.route}cuentas" class="btn btn-circle green btn-lg btn-block">Situación de cuentas</a>     
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <a style='padding-left:2px;padding-right:2px;min-height: 68px;padding-top:20px; margin-bottom: 10px;' href="{$config.route}albaranesCom" class="btn btn-circle green btn-lg btn-block">Albaranes de entrega</a>     
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <a style='padding-left:2px;padding-right:2px;min-height: 68px;padding-top:20px; margin-bottom: 10px;' href="{$config.route}facturasCom" class="btn btn-circle green btn-lg btn-block">Facturas - Liquidaciones</a>     
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <a style='padding-left:2px;padding-right:2px;min-height: 68px;padding-top:20px; margin-bottom: 10px;' href="{$config.route}facVtaSum" class="btn btn-circle green btn-lg btn-block">Facturas - Suministros</a>     
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <a style='padding-left:2px;padding-right:2px;min-height: 68px;padding-top:20px; margin-bottom: 10px;' href="{$config.route}facturasOPFH" class="btn btn-circle green btn-lg btn-block">Facturas - OPFH</a>     
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <a style='padding-left:2px;padding-right:2px;min-height: 68px;padding-top:20px; margin-bottom: 10px;' href="{$config.route}entradas" class="btn btn-circle green btn-lg btn-block">Partidas</a>     
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <a style='padding-left:2px;padding-right:2px;min-height: 68px;padding-top:20px; margin-bottom: 10px;' href="{$config.route}cultivos" class="btn btn-circle green btn-lg btn-block">Cultivos</a>     
        </div>
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
				<a style='padding-left:2px;padding-right:2px;min-height: 68px;padding-top:20px; margin-bottom: 10px;' href="{$config.route}fichaCultivos" class="btn btn-circle yellow-casablanca btn-lg btn-block">Fichas cultivos</a>     
        </div>
       
    </div>
</div>

 
<p><br/>
<h3 class="page-title" id='titulopag'>Leyenda:</h3><br/>
<span style='padding:12px; background-color: #4DB3A2; color: white;'>Cultivos activos</span>
<span style='padding:12px; background-color: #D05454; color: white;'>Cultivos finalizados</span>
</p>
<br/>
<!-- CULTIVOS ACTIVOS ------------------------------------------------------------------>
{if !empty($data_vars.ctr)}
    <h3 class="page-title" id='titulopag'>
        Cultivos. <small>(actualmente en producción o recientemente finalizados)</small>
    </h3>
{/if}            
{assign var=tot5 value=0}
{assign var=esp value=""}
{foreach from=$data_vars.ctr item=centro}
{if $centro.est == '5' || $centro.est == 'F'}
    {if $centro.esp != $esp}
        {if $tot5 > 0}
                    </div>
                </div>
            </div>
        </div>
        {/if}
        <div class="panel panel-danger">
            <div class="panel-heading"><h3 class="panel-title">{$centro.esp}</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {/if}
    {assign var="esp" value=$centro.esp}
    {assign var="tot5" value=($tot5 + 1)}
	
	
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" >
			{if $centro.est == 'F'}
				<a style='padding-left:2px;padding-right:2px; background-color: #D05454; color: white;' href="{$config.route}mifinca?id={$centro.ctrid}" class="btn btn-circle btn-lg btn-block" style="margin-bottom:0px;">{$centro.ctrname} 
					<span style="font-size:11px;">{$centro.fch_fin_rcg}</span>
				</a>
			{else}
				<a style='padding-left:2px;padding-right:2px; background-color: #4DB3A2; color: white;' href="{$config.route}mifinca?id={$centro.ctrid}" class="btn btn-circle btn-lg btn-block" style="margin-bottom:0px;">{$centro.ctrname} 
					<span style="font-size:11px;">{$centro.fch_fin_rcg}</span>
				</a>
			{/if}
        <br>
    </div>
{/if}
{/foreach}
{if !empty($data_vars.ctr)}
            </div>
         </div>
    </div>
</div>
{/if}
{if $tot5>0}
  <!--  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="badge" style="background-color:#D05454">{$tot5}</span> <small>Cultivos en producción.</small><br>
        </div>
    </div>-->
{/if}
<!-- CULTIVOS ACTIVOS ------------------------------------------------------------------>

<br>

<style type="text/css">
	#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}
#chartdiv_lin {
    width   : 100%;
    height  : 500px;
}
</style>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script type="text/javascript">

function cargarData(art){
        $.ajax({
                //data:  parametros,
                url:   '{$config.route}ajax?source=inicio_div&art='+art,
                type:  'post',
                beforeSend: function () {
                        $("#resultado").html("Procesando, espere por favor...");
                },
                success:  function (response) {
                        $("#resultado").html(response);
                }
        });
    }

jQuery(document).ready(function() {

   $( "#combo" ).on('change', function() {
  		$( ".chart_help" ).html($( "#combo option:selected" ).text());
  		cargarData($( "#combo option:selected" ).val());
	});
   $( ".chart_help" ).html($( "#combo option:selected" ).text());
   cargarData($( "#combo option:selected" ).val());



});




   /*function changeArt()
   {
    var select = document.getElementById('art.ctr');
    var artctr_id = select.options[select.selectedIndex].text;
    document.querySelector('.chart_1').innerHTML = artctr_id;
    document.querySelector('.chart_2').innerHTML = artctr_id;
   } */
</script>
