<div class="portlet-body" style="padding-bottom: 0px;">
                            <div class="row" style="padding-bottom:10px;">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat blue-madison">
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                 1,32 €
                                            </div>
                                            <div class="desc">
                                                 Pre/m2
                                            </div>
                                        </div>
                                        <a class="more" href="javascript:;">
                                        Ver detalle <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat red-intense">
                                        <div class="visual">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                 5,2 Kg
                                            </div>
                                            <div class="desc">
                                                 Kg/m2
                                            </div>
                                        </div>
                                        <a class="more" href="javascript:;">
                                        Ver detalle <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat green-haze">
                                        <div class="visual">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                 549,00 €
                                            </div>
                                            <div class="desc">
                                                 Subvenciones OPFH
                                            </div>
                                        </div>
                                        <a class="more" href="javascript:;">
                                        Ver detalle <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat purple-plum">
                                        <div class="visual">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                 1.500 m2
                                            </div>
                                            <div class="desc">
                                                 m2 en producción
                                            </div>
                                        </div>
                                        <a class="more" href="javascript:;">
                                        Ver detalle <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
            <!-- END DASHBOARD STATS -->
                            <div class="clearfix">
                            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN PORTLET-->
                    <!-- BEGIN CHART PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-green-haze"></i>
                                        <span class="caption-subject bold uppercase font-green-haze"> Evolución del destrío </span>
                                        <span class="caption-helper chart_help"></span>
                                    </div>

                                    <div class="tools">   
                                        <a href="javascript:;" class="collapse">
                                        </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config">
                                        </a>
                                        <a href="javascript:;" class="reload">
                                        </a>
                                        <a href="javascript:;" class="fullscreen">
                                        </a>
                                        <a href="javascript:;" class="remove">
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="chartdiv_lin" class="chart" style="height: 400px;">
                                    </div>
                                </div>
                            </div>
                            <!-- END CHART PORTLET-->
                    <!-- END PORTLET--> 
                </div>
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN CHART PORTLET-->
                            <div class="portlet light bordered grey-carraca">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-green-haze"></i>
                                        <span class="caption-subject bold uppercase font-green-haze"> Evolución de entrada </span>
                                        <span class="caption-helper chart_help"></span>
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse">
                                        </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config">
                                        </a>
                                        <a href="javascript:;" class="reload">
                                        </a>
                                        <a href="javascript:;" class="fullscreen">
                                        </a>
                                        <a href="javascript:;" class="remove">
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="chartdiv" class="chart" style="height: 400px;">
                                    </div>
                                </div>
                            </div>
                            <!-- END CHART PORTLET-->
                </div>
            </div>
            <div class="clearfix">
            </div>
                        </div>
<style type="text/css">
	#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}	
#chartdiv_lin {
    width   : 100%;
    height  : 500px;
}						
</style>	



<script>
var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "none",
    "marginRight": 0,
    "autoMarginOffset": 0,
    "dataDateFormat": "YYYY-MM-DD",
    "valueAxes": [{
        "id": "v1",
        "axisAlpha": 0,
        "position": "left"
    }],
    "balloon": {
        "borderThickness": 1,
        "shadowAlpha": 0
    },
    "graphs": [
        {foreach from=$data_vars.dataPage.art item=curr_id key=key}
        {
            "id": "g{$key}",
            "bullet": "round",
            "bulletBorderAlpha": 1,
            "bulletColor": "#FFFFFF",
            "bulletSize": 5,
            "hideBulletsCount": 50,
            "lineThickness": 2,
            "title": "{$curr_id}",
            "useLineColorForBulletBorder": true,
            "valueField": "id_{$key}",
            "balloonText": "<div style='margin:5px; font-size:19px;'><span style='font-size:13px;'>[[category]]</span><br>[[value]]</div>"
        },
        {/foreach}
       
    ],
    "chartScrollbar": {
        "oppositeAxis":false,
        "offset":30,
        "scrollbarHeight": 20,
        "backgroundAlpha": 0,
        "selectedBackgroundAlpha": 1,
        "selectedBackgroundColor": "#384051",
        //"selectedBackgroundColor": "#b5bcc9",
        "graphFillAlpha": 0,
        "graphLineAlpha": 0.5,
        "selectedGraphFillAlpha": 0,
        "selectedGraphLineAlpha": 1,
        "autoGridCount":true,
        "color":"#AAAAAA",
        "dragIconHeight": 20,
        "dragIconWidth": 20,
        "color": "#000000"
    },
    "chartCursor": {
        "pan": true,
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true,
        "cursorAlpha":0,
        "valueLineAlpha":0.2
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    }, 
    "legend": {
        "useGraphSettings": true
    },
    "dataProvider": [

    {foreach from=$data_vars.dataPage.data item=curr_id}
        {literal}{{/literal}
            "date": "{$curr_id['fch']}",
            "id_{$curr_id['art']}": {$curr_id['pso_net']}
        {literal}}{/literal},
    {/foreach} 

    ]
});

chart.addListener("rendered", zoomChart);

zoomChart();

function zoomChart() {
    chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
}
</script>
<script type="text/javascript">
var chart_lin = AmCharts.makeChart("chartdiv_lin", {
    "type": "serial",
    "theme": "none",
    "dataDateFormat": "YYYY-MM-DD",
    "legend": {
        "align": "center",
        "equalWidths": false,
        "periodValueText": "total: [[value.sum]]",
        "valueAlign": "left",
        "valueText": "[[value]] ([[percents]]%)",
        "valueWidth": 100
    },
    "dataProvider": [

    {foreach from=$data_vars.dest item=curr_id}
        {literal}{{/literal}
            "date": "{$curr_id['fch']}",
            "kilosliq": {$curr_id['kgliq']},
            "kilosdes": {$curr_id['kgdes']}
        {literal}}{/literal},
    {/foreach} 

    ],
    "valueAxes": [{
        "stackType": "100%",
        "gridAlpha": 0.07,
        "position": "left",
        "title": "Porcentaje %"
    }],
    "graphs": [{
        "balloonText": "<span style='font-size:14px; color:#000000;'><b>[[percents]] </b> %</span>",
        "fillAlphas": 0.5,
        "lineAlpha": 0.5,
        "title": "Kilos a liquidar",
        "valueField": "kilosliq"
    }, {
        "balloonText": "<span style='font-size:14px; color:#000000;'><b>[[percents]]</b> %</span>",
        "fillAlphas": 0.5,
        "lineAlpha": 0.5,
        "title": "Destrío",
        "valueField": "kilosdes"
    }],
    "plotAreaBorderAlpha": 0,
    "marginLeft": 0,
    "marginBottom": 0,
    "chartCursor": {
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "date",
    "categoryAxis": {
        "startOnAxis": true,
        "axisColor": "#DADADA",
        "gridAlpha": 0.07
    },
    "export": {
        "enabled": true
     }
});
</script>


