
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/none.js"></script>


<link href="{$config.assets}global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link type="text/css" rel="stylesheet" href="{$config.assets}admin/pages/css/profile-old.css">

<div class = "page-content-wrapper">
	
	<div class="page-content" style="min-height:441px">
	{if isset($data_vars.dataPage.ptd)}
		<h3 class="page-title" style="text-align:left;float:left;">
			Datos de la partida {$data_vars.dataPage.ptd} <small>detalle</small>
		</h3>
		<h2 style="margin-top:10px; text-align:right;float:right;">{$data_vars.dataPage.ptd_est}</h2>
		<hr style="clear:both;"/>
		<div class="tab-pane active" id="tab_1_1">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-8 profile-info">
												<h1 style="margin-bottom:10px;">{$data_vars.dataPage.art} </h1>
                                                <row>
												<ul class="list-inline">
													<li>
														<i class="fa fa-map-marker"></i> <b>Centro: </b>{$data_vars.dataPage.ctrName}
													</li>
													<li>
														<i class="fa fa-calendar"></i> <b>Fecha: </b>{$data_vars.dataPage.fch}
													</li>
													<li>
														<i class="fa fa-home"></i> <b>Finca: </b>{$data_vars.dataPage.ctrpnf}
													</li>
													<li>
														<i class="fa fa-file"></i> <b>Albarán: </b>{$data_vars.dataPage.albcom}
													</li>
												</ul>
                                                </row>
                                                <row>
												<a href="javascript:history.back()" class="btn btn-circle green-haze btn-sm"><i class="fa fa-arrow-left"></i> Volver atrás</a>
                                                    <script LANGUAGE="JavaScript">
                                                if (window.print) {
                                                document.write('<a href="javascript:window.print()" class="btn btn-circle blue btn-sm" ><i class="fa fa-print"></i> Imprimir</a>');
                                                }
                                                </script>
                                                </row>
                                               
											</div>
                                            <div class="col-md-8">
                                <!----------------------------------------------------------------- PEGAR AQUÍ DEBAJO--->
                                                {if $data_vars.dataPage.ptd_est_bool == 1}
                                                <table class="table table-striped table-bordered table-advance table-hover"  style="margin-top:16px;">
                                                            <thead>
                                                            <tr>
                                                                <th>
                                                                    <i class="fa fa-reorder"></i> Descripción
                                                                </th>
                                                                <th>
                                                                    <i class="fa fa-calculator"></i> Porcentaje
                                                                </th>
                                                                <th>
                                                                    <i class="fa fa-bookmark"></i> Kilos
                                                                </th>
                                                                <th>
                                                                    <i class="fa fa-bookmark"></i> Importe
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {foreach from=$data_vars.dataPage.data item=curr_id}
                                                                <tr>
                                                                    <td>
                                                                        {$curr_id['tarcalpso']}
                                                                    </td>
                                                                    <td align='right'>
                                                                        {((($curr_id['cnt_fac'])*100)/($data_vars.dataPage.psoNetCalc))|number_format:1:",":"."} %
                                                                    </td>
                                                                    <td align='right'>
                                                                        {$curr_id['cnt_fac']|number_format:0:",":"."}
                                                                    </td>
                                                                    <td align='right'>
                                                                        {$curr_id['implin']|number_format:1:",":"."} €
                                                                    </td>

                                                                </tr>
                                                            {/foreach}
                                                            </tbody>
                                                            </table>
                                                <row>
                                                <div class="alert alert-danger" role="alert">
                                                  <b>{$data_vars.dataPage.obs2}</b>
                                                </div>
                                                
                                                </row>
                                                {/if}
                            </div>
                                            
                                            
                                            
											<!--end col-md-8-->
											<div class="col-md-4">
												<div class="portlet sale-summary">
													<div class="portlet-title">
														<div class="caption">
															 Totales
														</div>
													</div>
													<div class="portlet-body">
														<ul class="list-unstyled">
															<li>
																<span class="sale-info">
																BULTOS <i class="fa fa-img-up"></i>
																</span>
																<span class="sale-num">
																{$data_vars.dataPage.blt} </span>
															</li>
															{if $data_vars.dataPage.psoNetCalc != $data_vars.dataPage.psoNet}
																<li>
																<span class="sale-info">
																KILOS TOTALES<i class="fa fa-img-up"></i>
																</span>
																<span class="sale-num">
																{$data_vars.dataPage.psoNet|round:0} KG</span>
															</li>
															<li>
																<span class="sale-info">
																KILOS MEDIANERÍA<i class="fa fa-img-up"></i>
																</span>
																<span class="sale-num">
																{$data_vars.dataPage.psoNetCalc|round:0} KG</span>
															</li>
															{else}
																<li>
																<span class="sale-info">
																KILOS<i class="fa fa-img-up"></i>
																</span>
																<span class="sale-num">
																{$data_vars.dataPage.psoNetCalc|round:0} KG</span>
															</li>
															{/if}
															
															<!--<li>
																<span class="sale-info">
																PESO BRUTO <i class="fa fa-img-down"></i>
																</span>
																<span class="sale-num">
																{$data_vars.dataPage.psoBrt} KG</span>
															</li>-->
															<li>
																<span class="sale-info">
																TOTAL IMPORTE </span>
																<span class="sale-num">
																{$data_vars.dataPage.imp} € </span>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!--end col-md-4-->
										</div>
										<!--end row-->
                                        
<!-------------------------------------------------------------------------------------------------------------------------------

                                        {if $data_vars.dataPage.ptd_est_bool == 1}
                                    
										
											
											
												
													<div class="row">
                                                        <div class="col-md-12">
                                                            <div class="portlet light portlet-fit bordered">
<div class="portlet-title">
<div class="caption">


<span class="caption-subject font-green bold uppercase"><i class="fa fa-bar-chart"></i> ESTADÍSTICA RESUMEN</span>  

 
</div>
                                                              
  </div>                                                          
<div class="portlet-body">

<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
    <H4>Muestreo de la partida <b>{$data_vars.dataPage.ptd}</b></H4>
<div id="chartdiv_cake" class="chart" style="min-height: 250px;">
                                                                </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
    <H4>Media de la empresa para <b>{$data_vars.dataPage.art}</b></H4>
    <div class="table-responsive">
				<table class="table ">
                <thead>
				                                                <tr>
				                                                    <td style="background-color:#1BA39C;color:white;"> Clasificación </td>
					                                                    <td style="background-color:#1BA39C;color:white;">  </td>

				                                                </tr>
				                                            </thead>
                {foreach from=$data_vars.prcxmst item=mst}
                    {if $mst.tot>0}
                                <tr>

                        <td> {$mst.name} </td>
                        <td align='right' width="20%" style="background-color:#E9EDEF;"> <b>{$mst.tot}</b> %</td>
                    </tr>
                            {/if}
                    
                {/foreach}
                </table>
            </div>

</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <H4>Comparación de mi destrío con <b>la empresa</b></H4>
    <div id="chartdiv" style="min-height: 250px;"></div><br>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="label label-danger" style="background-color: #1BA39C; color: #ffffff;"> Media del destrío <b>propio</b>. </span>
    </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 12px;">
        <span class="label label-danger" style="background-color: #D91E18; color: #ffffff"> Media del destrío <b>general de la cooperativa</b>. </span>
                                                
    </div>
    
</div>

</div>
    <br>
<!--
<div class="row" style="margin-top:24px;">
<div class="col-xs-12">
      {if $data_vars.MediaDestrio < $data_vars.dataPage.prc_destrio }   
<div class="alert alert-success">
                                            <strong>Destrío OK.</strong> La media de destrío de la campaña actual para <b>{$data_vars.dataPage.art}</b> está en <b>{$data_vars.MediaDestrio}</b> %. </div>
                                                             
{else}

 <div class="alert alert-warning">
                                            <strong>Aviso.</strong> La media de destrío de la campaña actual para <b>{$data_vars.dataPage.art}</b> está en <b>{$data_vars.MediaDestrio}</b> %. </div>   

{/if}
    
    
</div>
</div>
-->
</div>
</div>
                                                             
														</div>
															


													</div>
											
											

										
                                    {/if}
                                       
<!------------------------------------------------------------------------------------------------------------------------------->
									</div>
								</div>
                                                        

							</div>
		{else}
		<h1 class="page-title" style="text-align:left;float:left;font-size:42px;">
			¡Ups!
			<br><br>
			<small>Ha ocurrido un error al consultar esta partida.</small>
		</h1>
		{/if}
	</div>
	
</div>

{counter start=0 skip=1}
<script type="text/javascript">
var aColor=["#3FABA4","#1BA39C","#1BBC9B","#36D7B7","#44B6AE","#26C281","#4DB3A2","#2AB4C0","#26C281","#29B4B6","#D91E18"];
var chart_cake = AmCharts.makeChart( "chartdiv_cake", {
  "type": "pie",

  "dataProvider": [
		{foreach from=$data_vars.dataPage.data item=curr_id}
			{
      "color":aColor["{counter}"],
		    "country": "{$curr_id['tarcalpso']}",
		    "litres": {((($curr_id['cnt_fac'])*100)/($data_vars.dataPage.psoNetCalc))|round:2}
			},
		{/foreach}
	],
  "valueField": "litres",
  "titleField": "country",
                                    "colorField": "color",
                                    "labelRadius": 2,
  "export": {
    "enabled": false
  }
} );
</script>

<script type="text/javascript">
var chart = AmCharts.makeChart("chartdiv", {
    "theme": "light",
    "type": "serial",
    "dataProvider": [
{
"sem": 36,
"emp": {$data_vars.MediaDestrioCmp.emp.36},
"ent": {$data_vars.MediaDestrioCmp.ent.36}
},
{
"sem": 37,
"emp": {$data_vars.MediaDestrioCmp.emp.37},
"ent": {$data_vars.MediaDestrioCmp.ent.37}
},
{
"sem": 38,
"emp": {$data_vars.MediaDestrioCmp.emp.38},
"ent": {$data_vars.MediaDestrioCmp.ent.38}
},
{
"sem": 39,
"emp": {$data_vars.MediaDestrioCmp.emp.39},
"ent": {$data_vars.MediaDestrioCmp.ent.39}
},
{
"sem": 40,
"emp": {$data_vars.MediaDestrioCmp.emp.40},
"ent": {$data_vars.MediaDestrioCmp.ent.40}
},
{
"sem": 41,
"emp": {$data_vars.MediaDestrioCmp.emp.41},
"ent": {$data_vars.MediaDestrioCmp.ent.41}
},
{
"sem": 42,
"emp": {$data_vars.MediaDestrioCmp.emp.42},
"ent": {$data_vars.MediaDestrioCmp.ent.42}
},
{
"sem": 43,
"emp": {$data_vars.MediaDestrioCmp.emp.43},
"ent": {$data_vars.MediaDestrioCmp.ent.43}
},
{
"sem": 44,
"emp": {$data_vars.MediaDestrioCmp.emp.44},
"ent": {$data_vars.MediaDestrioCmp.ent.44}
},
{
"sem": 45,
"emp": {$data_vars.MediaDestrioCmp.emp.45},
"ent": {$data_vars.MediaDestrioCmp.ent.45}
},
{
"sem": 46,
"emp": {$data_vars.MediaDestrioCmp.emp.46},
"ent": {$data_vars.MediaDestrioCmp.ent.46}
},
{
"sem": 47,
"emp": {$data_vars.MediaDestrioCmp.emp.47},
"ent": {$data_vars.MediaDestrioCmp.ent.47}
},
{
"sem": 48,
"emp": {$data_vars.MediaDestrioCmp.emp.48},
"ent": {$data_vars.MediaDestrioCmp.ent.48}
},
{
"sem": 49,
"emp": {$data_vars.MediaDestrioCmp.emp.49},
"ent": {$data_vars.MediaDestrioCmp.ent.49}
},
{
"sem": 50,
"emp": {$data_vars.MediaDestrioCmp.emp.50},
"ent": {$data_vars.MediaDestrioCmp.ent.50}
},
{
"sem": 51,
"emp": {$data_vars.MediaDestrioCmp.emp.51},
"ent": {$data_vars.MediaDestrioCmp.ent.51}
},
{
"sem": 52,
"emp": {$data_vars.MediaDestrioCmp.emp.52},
"ent": {$data_vars.MediaDestrioCmp.ent.52}
},
{
"sem": 53,
"emp": {$data_vars.MediaDestrioCmp.emp.52},
"ent": {$data_vars.MediaDestrioCmp.ent.52}
},
{
"sem": 1,
"emp": {$data_vars.MediaDestrioCmp.emp.1},
"ent": {$data_vars.MediaDestrioCmp.ent.1}
},
{
"sem": 2,
"emp": {$data_vars.MediaDestrioCmp.emp.2},
"ent": {$data_vars.MediaDestrioCmp.ent.2}
},
{
"sem": 3,
"emp": {$data_vars.MediaDestrioCmp.emp.3},
"ent": {$data_vars.MediaDestrioCmp.ent.3}
},
{
"sem": 4,
"emp": {$data_vars.MediaDestrioCmp.emp.4},
"ent": {$data_vars.MediaDestrioCmp.ent.4}
},
{
"sem": 5,
"emp": {$data_vars.MediaDestrioCmp.emp.5},
"ent": {$data_vars.MediaDestrioCmp.ent.5}
},
{
"sem": 6,
"emp": {$data_vars.MediaDestrioCmp.emp.6},
"ent": {$data_vars.MediaDestrioCmp.ent.6}
},
{
"sem": 7,
"emp": {$data_vars.MediaDestrioCmp.emp.7},
"ent": {$data_vars.MediaDestrioCmp.ent.7}
},
{
"sem": 8,
"emp": {$data_vars.MediaDestrioCmp.emp.8},
"ent": {$data_vars.MediaDestrioCmp.ent.8}
},
{
"sem": 9,
"emp": {$data_vars.MediaDestrioCmp.emp.9},
"ent": {$data_vars.MediaDestrioCmp.ent.9}
},
{
"sem": 10,
"emp": {$data_vars.MediaDestrioCmp.emp.10},
"ent": {$data_vars.MediaDestrioCmp.ent.10}
},
{
"sem": 11,
"emp": {$data_vars.MediaDestrioCmp.emp.11},
"ent": {$data_vars.MediaDestrioCmp.ent.11}
},
{
"sem": 12,
"emp": {$data_vars.MediaDestrioCmp.emp.12},
"ent": {$data_vars.MediaDestrioCmp.ent.12}
},
{
"sem": 13,
"emp": {$data_vars.MediaDestrioCmp.emp.13},
"ent": {$data_vars.MediaDestrioCmp.ent.13}
},
{
"sem": 14,
"emp": {$data_vars.MediaDestrioCmp.emp.14},
"ent": {$data_vars.MediaDestrioCmp.ent.14}
},
{
"sem": 15,
"emp": {$data_vars.MediaDestrioCmp.emp.15},
"ent": {$data_vars.MediaDestrioCmp.ent.15}
},
{
"sem": 16,
"emp": {$data_vars.MediaDestrioCmp.emp.16},
"ent": {$data_vars.MediaDestrioCmp.ent.16}
},
{
"sem": 17,
"emp": {$data_vars.MediaDestrioCmp.emp.17},
"ent": {$data_vars.MediaDestrioCmp.ent.17}
},
{
"sem": 18,
"emp": {$data_vars.MediaDestrioCmp.emp.18},
"ent": {$data_vars.MediaDestrioCmp.ent.18}
},
{
"sem": 19,
"emp": {$data_vars.MediaDestrioCmp.emp.19},
"ent": {$data_vars.MediaDestrioCmp.ent.19}
},
{
"sem": 20,
"emp": {$data_vars.MediaDestrioCmp.emp.20},
"ent": {$data_vars.MediaDestrioCmp.ent.20}
},
{
"sem": 21,
"emp": {$data_vars.MediaDestrioCmp.emp.21},
"ent": {$data_vars.MediaDestrioCmp.ent.21}
},
{
"sem": 22,
"emp": {$data_vars.MediaDestrioCmp.emp.22},
"ent": {$data_vars.MediaDestrioCmp.ent.22}
},
{
"sem": 23,
"emp": {$data_vars.MediaDestrioCmp.emp.23},
"ent": {$data_vars.MediaDestrioCmp.ent.23}
},
{
"sem": 24,
"emp": {$data_vars.MediaDestrioCmp.emp.24},
"ent": {$data_vars.MediaDestrioCmp.ent.24}
},
{
"sem": 25,
"emp": {$data_vars.MediaDestrioCmp.emp.25},
"ent": {$data_vars.MediaDestrioCmp.ent.25}
},
{
"sem": 26,
"emp": {$data_vars.MediaDestrioCmp.emp.26},
"ent": {$data_vars.MediaDestrioCmp.ent.26}
},
{
"sem": 27,
"emp": {$data_vars.MediaDestrioCmp.emp.27},
"ent": {$data_vars.MediaDestrioCmp.ent.27}
},
{
"sem": 28,
"emp": {$data_vars.MediaDestrioCmp.emp.28},
"ent": {$data_vars.MediaDestrioCmp.ent.28}
},
{
"sem": 29,
"emp": {$data_vars.MediaDestrioCmp.emp.29},
"ent": {$data_vars.MediaDestrioCmp.ent.29}
},
{
"sem": 30,
"emp": {$data_vars.MediaDestrioCmp.emp.30},
"ent": {$data_vars.MediaDestrioCmp.ent.30}
},
{
"sem": 31,
"emp": {$data_vars.MediaDestrioCmp.emp.31},
"ent": {$data_vars.MediaDestrioCmp.ent.31}
},
{
"sem": 32,
"emp": {$data_vars.MediaDestrioCmp.emp.32},
"ent": {$data_vars.MediaDestrioCmp.ent.32}
},
{
"sem": 33,
"emp": {$data_vars.MediaDestrioCmp.emp.33},
"ent": {$data_vars.MediaDestrioCmp.ent.33}
},
{
"sem": 34,
"emp": {$data_vars.MediaDestrioCmp.emp.34},
"ent": {$data_vars.MediaDestrioCmp.ent.34}
}

         ],
    "valueAxes": [{
        "unit": "%",
        "position": "left",
        
    }],
    "startDuration": 1,
    "graphs": [{
        "balloonText": "Media del destrío general en [[category]] de esta campaña: <b>[[value]]</b> %",
      "bullet": "none",
        "bulletSize": 0,
        "lineColor": "#D91E18",
        "lineThickness": 2,
        "negativeLineColor": "#D91E18",
        "type": "smoothedLine",
        "valueField": "emp"
    }, {
        "balloonText": "Media del destrío general en [[category]] de esta campaña: <b>[[value]]</b> %",
      "bullet": "none",
        "bulletSize": 0,
        "lineColor": "#1BA39C",
        "lineThickness": 2,
        "negativeLineColor": "#1BA39C",
        "type": "smoothedLine",
        "valueField": "ent"
    }],
    
    "categoryField": "sem",
    "categoryAxis": {
        "gridPosition": "start"
    },
    "export": {
    	"enabled": false
     }

});
</script>
