
<link href="{$config.assets}global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link href="{$config.assets}admin/pages/css/profile.css" rel="stylesheet" type="text/css"/>
<link href="{$config.assets}admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
<div class="page-content-wrapper">
        <div class="page-content" style="min-height:1332px">
        <h3 class="page-title">
        Perfil de usuario
        </h3>
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="portlet-config" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                             Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button class="btn blue" type="button">Save changes</button>
                            <button data-dismiss="modal" class="btn default" type="button">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->


            <!-- BEGIN PAGE CONTENT-->
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <!-- BEGIN PROFILE SIDEBAR -->
                    <div class="profile-sidebar">
                        <!-- PORTLET MAIN -->
                        <div class="portlet light profile-sidebar-portlet">
                            <!-- SIDEBAR USERPIC -->
                            <div>
                                <img alt="" src="{$config.assets}admin/pages/media/profile/profile_user.png" style="border-radius: 50% !important;float: none;margin:0 25%;width: 50%;">
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                     {$user_data.entidad}
                                </div>
                                <div class="profile-usertitle-job">
                                     Productor
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            <div class="profile-userbuttons">
                                <a href="{$config.route}entradas" class="btn btn-circle green-haze btn-sm">Entradas</a>
                                <a href="{$config.route}exit" class="btn btn-circle btn-danger btn-sm">Salir</a>
                            </div>
                            <!-- END SIDEBAR BUTTONS -->
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <!-- <li class="active">
                                        <a href="extra_profile.html">
                                        <i class="icon-home"></i>
                                        Vista general </a>
                                    </li>
                                    <li>
                                        <a href="extra_profile_account.html">
                                        <i class="icon-settings"></i>
                                        Configuración del perfil </a>
                                    </li>
                                    <li>
                                        <a href="extra_profile_help.html">
                                        <i class="icon-info"></i>
                                        Ayuda </a>
                                    </li>-->
                                </ul>
                            </div>
                            <!-- END MENU -->
                        </div>
                        <!-- END PORTLET MAIN -->
                        <!-- PORTLET MAIN -->

                        <!-- END PORTLET MAIN -->
                    </div>
                    <!-- END BEGIN PROFILE SIDEBAR -->
                    <!-- BEGIN PROFILE CONTENT -->
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- BEGIN PORTLET -->
                                <!--<div class="portlet light ">
                                    <div class="portlet-title">
                                        <!-- <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Mis medianeros</span>
                                            <span class="caption-helper hide"></span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable table-scrollable-borderless" style="display:none">
                                            <table class="table table-hover table-light">
                                            <thead>
                                            <tr class="uppercase">
                                                <th colspan="2">
                                                     MEMBER
                                                </th>
                                                <th>
                                                     Earnings
                                                </th>
                                                <th>
                                                     CASES
                                                </th>
                                                <th>
                                                     CLOSED
                                                </th>
                                                <th>
                                                     RATE
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody><tr>
                                                <td class="fit">
                                                    <img src="{$config.assets}admin/layout/img/avatar.png" class="user-pic">
                                                </td>
                                                <td>
                                                    <a class="primary-link" href="javascript:;">Brain</a>
                                                </td>
                                                <td>
                                                     $345
                                                </td>
                                                <td>
                                                     45
                                                </td>
                                                <td>
                                                     124
                                                </td>
                                                <td>
                                                    <span class="bold theme-font">80%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fit">
                                                    <img src="{$config.assets}admin/layout/img/avatar.png" class="user-pic">
                                                </td>
                                                <td>
                                                    <a class="primary-link" href="javascript:;">Nick</a>
                                                </td>
                                                <td>
                                                     $560
                                                </td>
                                                <td>
                                                     12
                                                </td>
                                                <td>
                                                     24
                                                </td>
                                                <td>
                                                    <span class="bold theme-font">67%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fit">
                                                    <img src="{$config.assets}admin/layout/img/avatar.png" class="user-pic">
                                                </td>
                                                <td>
                                                    <a class="primary-link" href="javascript:;">Tim</a>
                                                </td>
                                                <td>
                                                     $1,345
                                                </td>
                                                <td>
                                                     450
                                                </td>
                                                <td>
                                                     46
                                                </td>
                                                <td>
                                                    <span class="bold theme-font">98%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fit">
                                                    <img src="{$config.assets}admin/layout/img/avatar.png" class="user-pic">
                                                </td>
                                                <td>
                                                    <a class="primary-link" href="javascript:;">Tom</a>
                                                </td>
                                                <td>
                                                     $645
                                                </td>
                                                <td>
                                                     50
                                                </td>
                                                <td>
                                                     89
                                                </td>
                                                <td>
                                                    <span class="bold theme-font">58%</span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- END PORTLET -->
                            </div>
                            <div class="col-md-6">
                                <!-- BEGIN PORTLET -->
                                <!--<div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Mis Fincas</span>
                                            <span class="caption-helper hide"></span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable table-scrollable-borderless" style="display:none">
                                            <table class="table table-hover table-light">
                                            <thead>
                                            <tr class="uppercase">
                                                <th>
                                                     PRODUCTO
                                                </th>
                                                <th>
                                                     PORCENTAJE
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {foreach from=$user_data.ent_data item=curr_id}
                                                <tr>
                                                    <td>
                                                        {$curr_id.name}
                                                    </td>
                                                    <td>
                                                        <span class="bold theme-font">80%</span>
                                                    </td>
                                            </tr>
                                            {/foreach}

                                            </tbody></table>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- END PORTLET
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- BEGIN PORTLET -->

                                <!-- END PORTLET -->
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
